@model DAL.Models.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <input asp-for="Detail" class="form-control" />
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldPrice" class="control-label"></label>
                <input asp-for="OldPrice" class="form-control" />
                <span asp-validation-for="OldPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPrice" class="control-label"></label>
                <input asp-for="NewPrice" class="form-control" />
                <span asp-validation-for="NewPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control">
                    @foreach (var b in ViewBag.Brand)
                    {
                        @if(@b.Id == Model.BrandId)
                        {
                            <option value="@b.Id" selected>@b.Name</option>
                        }
                        else
                        {
                            <option value="@b.Id">@b.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var c in ViewBag.Category)
                    {
                        @if (c.Id == Model.CategoryId)
                        {
                            <option value="@c.Id" selected>@c.Name</option>
                        }
                        else
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

